<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Pada Android 14 (API 34), aplikasi harus menjelaskan kegunaan dari foreground service kepada OS -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Permission penggunaan akses kamera -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bangkit2024BPAAI"
        tools:targetApi="31">
        <!-- Karena kita menggunakan FileProvider pada versi di bawah Android Q untuk dapat mengakses File yang ada di storage, maka kita perlu mendaftarkan Content Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!--suppress AndroidDomInspection -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>

        <activity
            android:name=".Media.GalleryDanKamera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".Media.GalleryDanKamera.MainGallery"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Media.ExoPlayerNotification.service.PlaybackService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

            <!-- intent-filter MediaBrowserService diperlukan supaya bisa dipakai di Android versi lama (backward compatible) ! -->
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Media.ExoPlayerNotification.MainExoPlayerNotification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Media.ExoPlayer.MainExoPlayer"
            android:exported="false" />
        <activity
            android:name=".Media.MediaPlayer.MainMediaPlayer"
            android:exported="false" />
        <activity
            android:name=".Media.SoundPool.MainSoundPool"
            android:exported="false" />

        <service
            android:name=".Service.service.MyBoundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".Service.service.MyForegroundService"
            android:enabled="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use" />
        </service>
        <service
            android:name=".Service.service.MyBackgroundService"
            android:enabled="true" />

        <activity
            android:name=".Service.MainService"
            android:exported="false" />
        <activity
            android:name=".LocalizationAndAccessibility.Accessibility.MainAccessibility"
            android:exported="false" />
        <activity
            android:name=".LocalizationAndAccessibility.Formatting.MainFormatting"
            android:exported="false" />
        <activity
            android:name=".LocalizationAndAccessibility.AdaptiveLayout.MainAdaptiveLayout"
            android:exported="false" />
        <activity
            android:name=".LocalizationAndAccessibility.LocalizationTeks.MainLocalizationTeks"
            android:exported="false" />
        <activity
            android:name=".Animation.MotionLayout.MainMotionLayout"
            android:exported="false" />
        <activity
            android:name=".Animation.ActivityAnimation.HeroActivity"
            android:exported="false" />
        <activity
            android:name=".Animation.ActivityAnimation.MainActivityAnimation"
            android:exported="false" />
        <activity
            android:name=".Animation.PropertyAnimation.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Animation.PropertyAnimation.view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Animation.PropertyAnimation.view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Animation.PropertyAnimation.view.main.MainPropertyAnimation"
            android:exported="false" />
        <activity
            android:name=".AdvanceUI.WebView.MainWebView"
            android:exported="false" />

        <service
            android:name=".AdvanceUI.StackViewWidget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".AdvanceUI.StackViewWidget.ImagesBannerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <activity
            android:name=".AdvanceUI.StackViewWidget.MainStackViewWidget"
            android:exported="false" />

        <receiver
            android:name=".AdvanceUI.Widget.RandomNumberWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/random_number_widget_info" />
        </receiver>

        <activity
            android:name=".AdvanceUI.Widget.MainWidget"
            android:exported="false" />
        <activity
            android:name=".AdvanceUI.Canvas.MainCanvas"
            android:exported="false" />
        <activity
            android:name=".AdvanceUI.CustomViewDariAwal.MainCustomViewDariAwal"
            android:exported="false" />
        <activity
            android:name=".AdvanceUI.CustomView.MainCustomView"
            android:exported="false" />
    </application>

</manifest>